html,
body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 15px;
  color: #000; }

nav {
  display: flex; }

label {
  margin: 0; }

a {
  color: #ea212e;
  transition: 300ms all ease-in-out;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #fbfbfb; }

.mts-hash-0003a {
  letter-spacing: -0.1px;
  overflow-x: hidden; }
  .mts-hash-0003a .mts-loc-phone-group-mobile {
    font-weight: 900;
    color: #8e8e8e; }
    .mts-hash-0003a .mts-loc-phone-group-mobile a {
      color: black; }
    .mts-hash-0003a .mts-loc-phone-group-mobile object {
      padding-right: 10px; }
    .mts-hash-0003a .mts-loc-phone-group-mobile object:last-child {
      width: 23px; }
  .mts-hash-0003a .flex-column.mts-2-white-lower {
    background-color: transparent;
    justify-content: space-between;
    width: 75%;
    align-items: center;
    padding-left: 3%;
    margin: auto;
    margin-right: 0; }
  .mts-hash-0003a .mts2menubutton {
    cursor: pointer;
    width: 15px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 11;
    background-color: transparent;
    border: none;
    transition: 200ms all ease;
    background-image: url("../img/mts2-menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center; }
    .mts-hash-0003a .mts2menubutton:focus {
      outline: none; }
  .mts-hash-0003a .mts2menubutton.active {
    background-image: url("../img/mts2-close-icon.png"); }
  .mts-hash-0003a .mts2-navigation__tab-switch-mobile {
    background-color: #202020; }
    .mts-hash-0003a .mts2-navigation__tab-switch-mobile .mts2-navigation__tab-switch-li .mts2-navigation__tab-switch {
      padding-bottom: 14px;
      padding-top: 18px; }
  .mts-hash-0003a .mts2-navigation__tab-switch-li {
    text-align: left; }
    .mts-hash-0003a .mts2-navigation__tab-switch-li .mts2-navigation__tab-switch {
      color: #ffffff;
      cursor: pointer;
      opacity: 0.5;
      border-bottom: 4px solid transparent;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 23px; }
      .mts-hash-0003a .mts2-navigation__tab-switch-li .mts2-navigation__tab-switch .mts2-navigation__tab-switch-1,
      .mts-hash-0003a .mts2-navigation__tab-switch-li .mts2-navigation__tab-switch .mts2-navigation__tab-switch-2 {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none; }
    .mts-hash-0003a .mts2-navigation__tab-switch-li .mts2-navigation__tab-switch.active {
      opacity: 1;
      border-bottom: 4px solid #00bcc7; }
  .mts-hash-0003a .mts-2-menu-hr {
    margin: 0;
    height: 1px;
    z-index: 4;
    width: 100%;
    margin: 10px 0 29px; }
  .mts-hash-0003a .btn.focus,
  .mts-hash-0003a .btn:focus {
    box-shadow: none;
    outline: none; }
  .mts-hash-0003a .mts2-btn {
    border: none;
    padding: 11px 25px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: #ffffff; }
  .mts-hash-0003a .mts2-navigation__btn {
    background-color: #ea212e; }
  .mts-hash-0003a .mts2-navigation__btn_2 {
    max-width: 280px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px; }
  .mts-hash-0003a .mts-2mobile-input-menu__input {
    max-width: 258px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-family: Lato;
    font-size: 16px;
    color: #000000;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e2e2e2;
    text-align: left;
    padding: 10px;
    margin-top: 11px;
    margin-bottom: 11px; }
  .mts-hash-0003a .mts-2mobile-input-menu {
    max-width: 258px;
    position: absolute;
    right: 49px;
    top: 0; }
  .mts-hash-0003a .mts2-btn__white {
    background-color: #ffffff;
    color: #ea212e; }
  .mts-hash-0003a .mts2-navigation-lower__logo-mobile {
    display: block;
    width: 124px;
    margin: 20px 22px; }
    .mts-hash-0003a .mts2-navigation-lower__logo-mobile img {
      pointer-events: none;
      max-width: 124px; }
  .mts-hash-0003a .mts2-navigation-lower__mobile-menu {
    display: flex;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    position: relative;
    min-height: 69px; }
    .mts-hash-0003a .mts2-navigation-lower__mobile-menu object {
      pointer-events: none; }
  .mts-hash-0003a .mts2-navigation__search2 {
    position: absolute;
    top: 28px;
    right: 60px;
    z-index: 10; }
  .mts-hash-0003a .mts2-mobile-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center; }
  .mts-hash-0003a .flex-column {
    background-color: #202020;
    z-index: 2; }
    .mts-hash-0003a .flex-column .mts2-navigation {
      color: #535151;
      padding: 25px 0 0;
      font-size: 16px;
      margin-bottom: 0; }
      .mts-hash-0003a .flex-column .mts2-navigation a {
        color: #ffffff; }
      .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__location-li {
        font-weight: 600; }
        .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__location-li .mts2-navigation__location {
          margin-left: 15px;
          margin-right: 20px; }
          .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__location-li .mts2-navigation__location .mts2-navigation__location-img {
            position: relative;
            top: 2px; }
      .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__search-li {
        font-weight: 600; }
        .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__search-li .mts2-navigation__search {
          margin-right: 20px; }
        .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__search-li .mts2-navigation__contacts {
          font-weight: 600;
          margin-right: 25px; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower {
      background-color: #fbfbfb;
      padding: 0 0;
      border-bottom: 1px solid #e2e2e2; }
      .mts-hash-0003a .flex-column .mts2-navigation-lower .row {
        align-items: center; }
      .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li {
        display: flex;
        justify-content: space-between;
        max-width: 280px;
        margin: auto;
        padding: 0;
        background-color: #fbfbfb;
        padding-bottom: 45px;
        padding-top: 45px; }
        .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__logo {
          display: inline-block; }
          .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__logo object {
            pointer-events: none; }
        .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__link {
          font-weight: 600;
          font-size: 20px;
          letter-spacing: -0.1px;
          text-align: left;
          color: #000000; }
  .mts-hash-0003a .mts-hash-0003a__content {
    background-color: #fbfbfb; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit {
      border-radius: 4px;
      border: solid 1px #ededed;
      color: #000000;
      background-position: center right;
      background-repeat: no-repeat;
      width: 100%;
      min-height: 262px;
      padding: 0 40px 0;
      transition: 300ms all ease-in-out;
      margin: auto;
      margin-bottom: 45px;
      background-color: #ffffff;
      cursor: pointer;
      position: relative;
      margin-left: 0; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__btn {
        z-index: 10;
        padding: 18px 37px;
        font-family: "Futura New";
        font-size: 17px;
        margin-top: 45px;
        display: block;
        max-width: 229px;
        text-align: center;
        position: absolute;
        bottom: 40px;
        opacity: 0; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__heading {
        font-family: "Futura New";
        max-width: 270px;
        font-size: 21px;
        font-weight: bold;
        line-height: 1.29;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 65px;
        margin-top: 25px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__text {
        max-width: 280px;
        opacity: 0.5;
        font-family: 'Lato';
        font-size: 16px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__subtext {
        opacity: 0.7;
        font-family: 'Lato';
        font-size: 16px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__percent {
        font-size: 38px;
        font-family: "Futura New";
        letter-spacing: -1px;
        margin-bottom: 0; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__percent .mts2-card-credit__percent-span {
          font-size: 18px;
          font-weight: 700;
          font-family: 'Lato'; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__percent .mts2-card-credit__percent-span_3 {
          margin-left: -8px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit:hover .mts2-card-credit__percent,
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit:hover .mts2-card-credit__text,
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit:hover .mts2-card-credit__subtext {
      opacity: 0; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit:hover .mts2-card-credit__btn {
      opacity: 1; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit:hover {
      color: #ffffff;
      background-color: #ea212e;
      box-shadow: 0 25px 30px 0 rgba(149, 149, 149, 0.25); }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-section-credit-selector__heading {
      font-family: "Futura New";
      font-size: 52px;
      font-weight: bold;
      line-height: 1.06;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000000;
      margin: 55px 0; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer {
      padding-top: 100px;
      padding-bottom: 80px;
      background-color: #202020;
      color: #ffffff; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-accordion-card {
        width: 95%;
        display: none; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-accordion-card .mts2-accordion-card__inner-wrapper {
          width: 100%; }
          .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-accordion-card .mts2-accordion-card__inner-wrapper .mts2-footer__heading_mobile::after {
            content: url(../img/mts2-footer-triangle.png);
            position: absolute;
            transform: rotate(90deg);
            transition: 200ms all ease;
            transform-origin: center;
            right: 0; }
          .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-accordion-card .mts2-accordion-card__inner-wrapper .mts2-footer__heading_mobile.collapsed::after {
            transform: rotate(0deg); }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__heading_mobile {
        cursor: pointer; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__heading {
        font-family: "Futura New";
        font-size: 21px;
        font-weight: bold;
        line-height: 1.29;
        letter-spacing: 0px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 0; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__heading .mts2-footer__heading-img {
          margin-left: 20px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 60px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__list li a {
          opacity: 0.5;
          font-family: "Lato";
          font-size: 16px;
          line-height: 2.63;
          letter-spacing: -0.1px;
          text-align: left;
          color: #ffffff; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__app-download {
        margin-top: 35px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__app-download a {
          display: inline-block;
          padding: 15px;
          border: 2px solid rgba(80, 80, 80, 0.44);
          border-radius: 5px;
          margin-right: 15px;
          position: relative; }
          .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__app-download a:hover {
            border: 2px solid #ea212e; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .section-footer__pay-icons {
        width: 25px;
        height: 25px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__app-download a:hover .section-footer__pay-icons_hover {
        opacity: 1; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .section-footer__pay-icons_hover {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 15px;
        left: 15px;
        opacity: 0;
        transition: 200ms all ease-in-out; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__soc-icons {
        position: relative;
        margin-right: 10px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__soc-icons img[data-soc-active="1"] {
          position: absolute;
          top: -0px;
          left: 0;
          opacity: 0;
          transition: 200ms all ease-in-out; }
          .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__soc-icons img[data-soc-active="1"]:hover {
            opacity: 1; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__switch {
        background-color: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;
        height: 22px;
        object-fit: contain;
        font-family: Lato;
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: -0.1px;
        text-align: right;
        color: #00bcc7;
        padding-left: 0;
        margin-top: 5px;
        margin-bottom: 30px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table {
        max-width: 310px;
        width: 100%;
        margin-bottom: 45px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table th {
          font-size: 12px;
          text-transform: uppercase;
          opacity: 0.4;
          letter-spacing: 0.4px;
          font-weight: 100; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table td {
          font-size: 22px;
          font-weight: 300; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table .mts2-exchange-table__first-row td {
          padding-top: 18px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table .mts2-exchange-table__first-row .mts2-exchange-table__unit {
          font-size: 16px;
          font-weight: 700; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table .mts2-exchange-table__second-row td {
          padding-top: 10px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer table .mts2-exchange-table__second-row .mts2-exchange-table__unit {
          font-size: 16px;
          font-weight: 700; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__phone {
        font-family: "Futura New";
        font-size: 28px;
        letter-spacing: -1px;
        text-align: left; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__phone a {
          color: #ffffff; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__phone p {
          width: 193px;
          opacity: 0.4;
          font-family: "Lato";
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: -0.1px;
          text-align: left;
          color: #ffffff; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__vk {
        height: 33px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__fb {
        height: 25px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__insta {
        height: 25px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__tw {
        height: 26px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer-seo {
      background-color: #191919;
      display: none; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer-seo p {
        font-size: 18px;
        color: white;
        opacity: 0.5;
        font-family: "Lato";
        padding: 50px 0;
        line-height: 1.65;
        font-weight: 300; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer {
      background-color: #000000;
      padding-bottom: 15px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer .mts2-sub-footer__logo {
        opacity: 1;
        width: 41px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer .mts2-sub-footer__toggler-wrapper {
        text-align: center;
        max-height: 29px; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer .mts2-sub-footer__toggler-wrapper .mts2-sub-footer__toggler {
          position: relative;
          top: -20px;
          transform: rotate(0deg);
          transition: 200ms all ease;
          transform-origin: center;
          cursor: pointer; }
        .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer .mts2-sub-footer__toggler-wrapper .mts2-sub-footer__toggler.active {
          transform: rotate(180deg); }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer div .mts2-sub-footer__text {
        font-weight: 200;
        font-family: 'Lato';
        font-size: 13px;
        line-height: 1.62;
        letter-spacing: 0px;
        text-align: left;
        color: #8e8e8e; }
  @media (min-width: 1200px) {
    .mts-hash-0003a .mts-loc-phone-group-mobile {
      display: none; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .row {
      display: flex; }
    .mts-hash-0003a .container {
      width: 1380px; }
    .mts-hash-0003a .mts2-navigation-lower__logo-mobile {
      display: none; }
    .mts-hash-0003a .mts2-mobile-button-wrapper {
      display: none; }
    .mts-hash-0003a .mts-2mobile-input-menu {
      display: none; }
    .mts-hash-0003a .mts-2-menu-hr {
      display: none; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li {
      max-width: inherit; }
    .mts-hash-0003a .mts2-navigation-lower__mobile-menu {
      display: none; }
    .mts-hash-0003a .mts2-navigation__tab-switch-mobile {
      display: none; } }
  @media (min-width: 1400px) {
    .mts-hash-0003a .col-md-12 {
      padding: 0; } }
  @media (max-width: 1400px) {
    .mts-hash-0003a .flex-column .mts2-navigation {
      font-size: 16px; }
    .mts-hash-0003a .col-md-12 {
      padding: 0px 20px; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 1200px) {
    .mts-hash-0003a .mts2-navigation__tab-switch-mobile .row {
      width: 100%; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-section-credit-selector__heading {
      text-align: center; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit {
      margin-left: auto; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower {
      background-color: #f4f4f4; }
      .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li {
        background-color: #f4f4f4; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li {
      max-width: inherit; }
    .mts-hash-0003a .mts2-mobile-button-wrapper {
      display: initial;
      width: initial;
      justify-content: center; }
    .mts-hash-0003a div.mts2-navigation__tab-switch-li.mts2-navigation__tab-switch-li_2 {
      display: none; }
    .mts-hash-0003a .mts2-navigation {
      display: none; }
    .mts-hash-0003a .mts2-navigation__location-li {
      display: none; }
    .mts-hash-0003a .mts2-navigation__contacts {
      display: none; }
    .mts-hash-0003a .flex-column .mts2-navigation {
      padding-top: 0; }
    .mts-hash-0003a .mts2-navigation__search-li {
      display: none; }
    .mts-hash-0003a .flex-column .mts2-navigation .mts2-navigation__tab-switch-li .mts2-navigation__tab-switch {
      padding-bottom: 14px;
      padding-top: 18px; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__logo {
      display: none; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__link {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: -0.1px;
      text-align: left;
      color: #000;
      font-family: Futura New; } }
  @media (min-width: 991px) {
    .mts-hash-0003a .mts2-navigation__btn_2 {
      margin-bottom: 0; }
    .mts-hash-0003a .mts-2mobile-input-menu__input {
      margin-bottom: 0;
      margin-top: 13px; } }
  @media (max-width: 991px) {
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li .mts2-navigation-lower__link {
      margin-bottom: 20px; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower {
      padding-top: 0; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .mts2-navigation-lower__link-li {
      align-items: flex-start;
      padding-top: 0px; }
    .mts-hash-0003a .mts2-mobile-button-wrapper {
      display: flex;
      width: 100%;
      justify-content: center; }
    .mts-hash-0003a .flex-column.mts-2-white-lower {
      margin-right: auto;
      padding-left: 0;
      max-width: 280px;
      width: 100%; } }
  @media (max-width: 768px) {
    .mts-hash-0003a .mts2-phone-wrapper {
      padding-left: 0; }
    .mts-hash-0003a .card-block {
      padding-bottom: 0; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__list {
      margin-bottom: 20px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer div .mts2-sub-footer__text {
      margin-bottom: 20px;
      display: block;
      margin-top: 15px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer .mts2-sub-footer__logo {
      margin-right: 16px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-sub-footer .mts2-sub-footer__toggler-wrapper {
      text-align: left; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-accordion-card .mts2-accordion-card__inner-wrapper {
      padding-bottom: 30px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-footer__heading {
      font-size: 18px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer .mts2-accordion-card {
      display: block; }
    .mts-hash-0003a .mts2-accordion-card__row-desk {
      display: none; }
    .mts-hash-0003a .flex-column .mts2-navigation-lower .container {
      width: 100%; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer {
      padding-top: 55px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 20px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer__list {
      margin-bottom: 0px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-footer__soc-block {
      padding: 30px 0; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__heading {
      font-family: "Futura New";
      max-width: 270px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.29;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 0px;
      margin-top: 15px; } }
  @media (max-width: 515px) {
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__subtext {
      font-size: 14px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-section-credit-selector__heading {
      text-align: center;
      font-size: 30px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit {
      background-image: url("../img/mts2-card-credit__percent_work-pay-mobile.png");
      background-repeat: no-repeat;
      background-position: top center;
      padding-left: 0;
      padding-right: 0;
      max-width: 280px;
      padding-top: 110px;
      text-align: center;
      padding-bottom: 30px; }
      .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .row {
        justify-content: center; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__percent {
      font-size: 32px; }
    .mts-hash-0003a .mts-hash-0003a__content .mts2-section-credit-selector .container .mts2-card-credit .mts2-card-credit__heading {
      text-align: center;
      margin: auto;
      margin-top: 15px; } }

/*# sourceMappingURL=custom.css.map */
